invoice_data/9.jpg
/graph/Cutie_Checkpoints_highest_results/checkpoint
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_201.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_201.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_201.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_300.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_300.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_300.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_400.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_400.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_400.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_401.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_401.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_401.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_402.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_402.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_402.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_500.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_500.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_500.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_600.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_600.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_600.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_700.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_700.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_700.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_800.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_800.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_800.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_900.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_900.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_900.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_1000.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_1000.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c7(r80c80)_iter_1000.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_100.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_100.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_100.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1000.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1000.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1000.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1001.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1001.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1001.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1100.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1100.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1100.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1200.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1200.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1200.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1201.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1201.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1201.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1202.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1202.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1202.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1300.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1300.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1300.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1400.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1400.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1400.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1500.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1500.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1500.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1600.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1600.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1600.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1602.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1602.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1602.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1700.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1700.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1700.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1800.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1800.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1800.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_1900.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10000.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10000.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10000.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10100.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10100.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10100.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10200.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10200.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10200.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10300.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10300.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10300.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10400.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10400.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10400.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10500.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10500.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10500.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10600.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10600.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10600.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10700.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10700.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10700.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10800.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10800.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10800.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10900.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10900.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_10900.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11000.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11000.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11000.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11100.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11100.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11100.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11200.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11200.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11200.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11300.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11300.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11300.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11400.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11400.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11400.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11500.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11500.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11500.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11600.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11600.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11600.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11700.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11700.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11700.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11800.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11800.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11800.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11900.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11900.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_11900.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12000.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12000.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12000.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12100.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12100.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12100.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12200.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12200.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12200.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12300.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12300.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12300.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12400.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12400.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12400.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12402.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12402.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12402.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12500.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12500.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12500.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12600.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12600.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12600.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12700.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12700.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12700.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12800.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12800.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12800.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12900.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12900.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_12900.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13000.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13000.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13000.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13100.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13100.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13100.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13200.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13200.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13200.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13300.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13300.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13300.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13400.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13400.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13400.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13500.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13500.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13500.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13600.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13600.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13600.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13700.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13700.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13700.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13800.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13800.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13800.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13900.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13900.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_13900.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14000.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14000.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14000.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14100.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14100.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14100.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14200.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14200.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14200.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14300.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14300.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14300.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14400.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14400.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14400.ckpt.meta
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14500.ckpt.data-00000-of-00001
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14500.ckpt.index
/graph/SROIE/CUTIE2_dilate_d20000c8(r80c80)_iter_14500.ckpt.meta
/graph/1/CUTIE2_dilate_d20000c8(r100c100)_iter_4000.ckpt.data-00000-of-00001
/graph/1/CUTIE2_dilate_d20000c8(r100c100)_iter_4000.ckpt.index
/graph/1/CUTIE2_dilate_d20000c8(r100c100)_iter_4000.ckpt.meta
/graph/1/CUTIE2_dilate_d20000c8(r100c100)_iter_40000.ckpt.data-00000-of-00001
/graph/Cutie_Checkpoints_highest_results/CUTIE2_dilate_d20000c8(r100c100)_iter_40000.ckpt.data-00000-of-00001
/graph/1/CUTIE2_dilate_d20000c8(r100c100)_iter_40000.ckpt.index
/graph/Cutie_Checkpoints_highest_results/CUTIE2_dilate_d20000c8(r100c100)_iter_40000.ckpt.index
/graph/1/CUTIE2_dilate_d20000c8(r100c100)_iter_40000.ckpt.meta
/graph/Cutie_Checkpoints_highest_results/CUTIE2_dilate_d20000c8(r100c100)_iter_40000.ckpt.meta
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633199796.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633290489.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633290840.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633298599.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633387634.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633388350.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633451586.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633452482.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633469329.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633474540.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633475071.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633475323.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633476831.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633527910.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633529387.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633606177.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1633612655.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634060554.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634079400.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634079978.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634080408.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634080686.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634080863.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634081037.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634081342.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634081623.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634081847.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634082098.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634082277.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634082512.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634082678.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634083165.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634083308.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634083440.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634083555.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634083716.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634083862.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634128797.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634128926.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634146128.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634146318.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634146840.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634146964.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634147170.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634147344.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634147520.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634147631.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634147956.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634160633.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634160886.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634161050.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634161170.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634161352.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634161526.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634161643.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634161768.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634245997.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634246146.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634246262.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634246388.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634246499.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634246809.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634246982.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634247171.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634247550.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634247688.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634248274.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634248805.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634248956.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634249144.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634249326.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634249512.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634249770.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634250738.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634250878.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634251141.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1634251267.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634251412.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634302524.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634306621.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634306875.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634307015.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634307165.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634307291.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634307459.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634307589.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634307794.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634307905.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634308149.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634308274.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634308398.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634308549.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634317010.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634829979.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634835933.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1634904641.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1635786269.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1635802583.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1635850901.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1635858067.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1638122998.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1638201481.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1638878297.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1639669062.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1639669445.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1639669822.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639669989.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1639670244.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1639670617.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1639670753.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639670929.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639671030.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639671179.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639671579.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639686716.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639735910.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639739526.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1639779254.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1640087419.DE-ADN-4PM4QV2
/graph/log/SROIE/CUTIE2_dilate/events.out.tfevents.1640183686.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1640353589.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1640354511.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1640380701.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE_atrousSPP/events.out.tfevents.1640518763.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE_atrousSPP/events.out.tfevents.1640562086.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE_atrousSPP/events.out.tfevents.1640766032.DE-ADN-4PM4QV2
/graph/log/TEST1/CUTIE_atrousSPP/events.out.tfevents.1640944854.DE-ADN-4PM4QV2
/graph/log/TEST1/CUTIE_atrousSPP/events.out.tfevents.1641290769.DE-ADN-4PM4QV2
/graph/log/TEST2/CUTIE2_dilate/events.out.tfevents.1641457976.DE-ADN-4PM4QV2
/graph/log/TEST2/CUTIE2_dilate/events.out.tfevents.1641468576.DE-ADN-4PM4QV2
/graph/log/TEST2/CUTIE2_dilate/events.out.tfevents.1641505454.DE-ADN-4PM4QV2
/graph/log/TEST3/CUTIE2_dilate/events.out.tfevents.1641805938.DE-ADN-4PM4QV2
/graph/log/TEST3/CUTIE2_dilate/events.out.tfevents.1641891432.DE-ADN-4PM4QV2
/graph/log/TEST4/CUTIE2_dilate/events.out.tfevents.1642100357.DE-ADN-4PM4QV2
/graph/log/TEST4/CUTIE2_dilate/events.out.tfevents.1642206066.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1642248062.DE-ADN-4PM4QV2
/graph/log/TEST/CUTIE2_dilate/events.out.tfevents.1642446398.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1643898884.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1643901274.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645029344.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645029732.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645030215.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645030654.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645181027.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645181663.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645477632.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645478036.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645478508.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645479416.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645480140.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645480759.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645480762.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645529564.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645530362.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645531426.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645532051.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645532518.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645533371.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645546353.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645803934.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645829484.DE-ADN-4PM4QV2
/graph/log/REALINVOICES/CUTIE2_dilate/events.out.tfevents.1645978382.DE-ADN-4PM4QV2
/graph/Cutie_Checkpoints_highest_results/results 26.01.22.txt
